.logout {
    
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
   
   button.logout {
    width: 12rem;
    height: auto;
   }
   
   button.logout .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: rgb(0, 0, 0);
    border-radius: 1.625rem;
   }
   
   button.logout .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.logout .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.logout .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.logout .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }


/* RECADOS */

section.recados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 200px;
    max-width: 1600px;
    margin: 30px auto;
    padding: 10px 2%;
}

.meusRecados h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

.inputFlex{
    width: 90%;
    padding: 10px 2%;
    display: flex;
}

.inputFlex input[type="text"]{
    width: 50%;
    padding: 8px 15px;
    margin-right: 8px;
    font-size: 15px;
}

.inputFlex input[type="text"]:focus{
    outline: 0;
}

.inputFlex button{
    width: 10%;
    padding: 8px 0;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    background-color: rgb(32, 16, 110);
    color: #fff;
}

.inputFlex button:hover{
    background: rgb(31, 52, 121);
    color: #ffffff;
    cursor: pointer;
}

/* LISTA */

section.list{
    width: 95%;
    height: 120px;
    max-width: 1600px;
    margin: 20px auto;
    padding: 10px 2%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
  }

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: white;
  }
  
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: black;
    background-color: white;
  }


#listaTarefas{
    width: 95%;
    padding: 10px 2%;
    border: 1px solid #ccc;
    list-style-type: none;
}

#listaTarefas li{
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

.idTarefa{
    width: 10%;
}

.textoTarefa{
    width: 40%;
}

.detailTarefa{
    width: 30%;
}

.acao{
    width: 5%;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    border: none;
    margin-right: 50px;
}

.acaoRed{
    width: 5%;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    border: none;
}

.acao:hover{
    background:#3cc929;
    color: #ffffff;
    width:5%;
}

.acaoRed:hover{
    background: #c92929 ;
    color: #ffffff;
    width: 8%;
   
}

#janelaEdicao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #10297a;
    border: 1px solid #2f2e2e; 
    width: 415px;
    border-radius: 12px;
    z-index: 200;
    display: none;
}

#janelaEdicao.abrir{
    display: block !important;
    color: #fff;
}

#janelaEdicaoFundo {
    position: fixed;
    top: 0;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: 100;
    right: 0;
    display: none;
}

#janelaEdicaoFundo.abrir {
    display: block !important;
}

#btnFechar {
    position: absolute;
    top: -25px;
    right: -18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #0f1057;
    background-color: #0f1057;
    color: #fff;
    outline: none;
    cursor: pointer;
}

form {
    width: 100%;
    margin-top: 20px;
}

.frm-linha {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: white;
}

.frm-linha label {
    margin-bottom: 7px;
}

.frm-linha input {
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #000000;
    font-size: 1.2rem;
    background-color: #4a5b97;
    color: #ffffff;
}

.frm-linha button{
    background-color: #172746;;
    border: 1px solid #000000;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 15px;
    color: #ccc;
    cursor: pointer;
    height: 50px;
    font-size: 1.3rem;
    outline: none;
}

.frm-linha button:hover {
    background-color: #4a5b97;
}

